.headerHover {
	display: inline-block;
	position: relative;
	color: var(--colors-color-tint-1);

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--colors-color-tint-1);
		transform-origin: bottom right;
		transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}


.btnHover__style-1 {
	padding: 12px 24px;
	background-color: var(--colors-primary);
	color: var(--colors-neutral-white);
	border-radius: 7px;
	transition: transform 250ms cubic-bezier(.2, .8, .4, 1);

	&:hover {
		transform: scale(1.10);
	}

	&:active {
		transform: scale(0.9);
	}
}